<!-- Generated template for the HeaderMenuComponent component -->
<div>
    <ion-list>
        <ion-item (click)="optionClicked(tab1Root)">{{'home-title' | translate }}</ion-item>
        <ion-item (click)="optionClicked(tab2Root)">{{'purchase-request-title' | translate }}</ion-item>
        <ion-item (click)="optionClicked(tab3Root)">{{'purchase-order-title' | translate }}</ion-item>
        <ion-item (click)="optionClicked(tab4Root)">{{'settings-title' | translate }}</ion-item>
        <ion-item (click)="logoutClicked()">{{'logout-button' | translate }}</ion-item>
    </ion-list>
</div>